<p id="moderate_bloc" class="moderate_bloc">
    <span class="label label-default">En attente</span>
    <span class="label label-danger">Annuler</span>
    <span class="label label-success">Valider</span>
</p>